.card {
  width: 300px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 0;
  background: #f6f6f6;
  transition: all 0.2s ease;

  .image {
    padding: 0 16px;

    img {
      width: 100%;
    }
  }

  .text {
    padding: 0 16px;
  }

  &:hover {
    background: #e9e9e9;
  }
}
